<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1560421683-6856ea585c78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3306&q=80);">
  <div class="container">
    <div class="w-50">
      <h1>Geef kwalitatieve feedback met De Markers!</h1>
      <p>The Markers neemt een stuk van het nakijkwerk over creeren wij ruimte voor de leraar om over te stappen naar meer feedbackgedreven onderwijs.</p>
      <a class="btn btn-flat" href="#">Doe Mee</a>
    </div>
  </div>
</div>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cards-container d-flex flex-column">
          <User-list @users={{ this.model }}/>
        </div>
      </div>
      <div class="col">
        <h1>Over the Markers</h1>
        <p>
          Wij geloven dat kwalitatieve feedback de belangrijkste aanjager is van het leerproces. Door de hoge werkdruk van leraren is hier echter te weinig tijd voor. Door een stuk van het nakijkwerk over te nemen, creëren wij ruimte voor de leraar.
          <br><br>
          Bij het uitvoeren van deze nakijkopdrachten staat feedback per leerdoel centraal. Leraren en leerlingen krijgen zo inzichtelijk waar extra aandacht aan besteed dient te worden. Doordat de feedback kant en klaar wordt aangeleverd, kunnen de leraar   en leerling direct aan de slag en op deze manier stappen zetten naar feedbackgedreven onderwijs.
        </p>
      </div>
    </div>
  </div>
</section>
