<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Assignments</h1>
        <p>
          De volgende opdrachten zijn door de studenten uitgevoerd. Op een aantal van de opdrachten is al feedback gegeven door een van onze markers.
          <br><br>
          Zelf leren kwalitatieve feedback geven met onze nieuwe tool?
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        {{outlet}}
      </div>
    </div>
  </div>
</section>
